/*

filename: styles.css

authors: hana ouaida, asma hossain, zahra ahmed

created: 23-12-25

last modified: 023-12-25

description: refers to index.php, jobs.php, apply.php, about.php, enhancements.php,......

*/
html{
    max-width: 100%;
    overflow-x: hidden;
}
/*
that gets rid of the annoying horizontal scrolling. im not sure whats causing it but this fixes it. -h
*/

body {
  background-image: url("images/background.jpg");
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
}

a{
    color: #005c8a; 
}
img{
    max-width:100%;
}  

nav{
    background-color:#1e88c8;
    padding: .5em;
    border-radius: 0.3em;
    border-bottom: solid #a8d8f0;
}

h1{
    font: italic 2.2em 'Courier New', Courier, monospace ;
    text-align: center;
    background-color: #a8d8f0da;
    padding: 0.5%;
}
article, aside{
    background-color: #7ac4f1d7;
padding: 1%;
}
article{
    position: relative;
}

article::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #1e88c8;
    opacity: 0.3;
    z-index: -1;
}

footer{
    width: 100%;
    background-color:  #a8d8f0; 
    border-top: 0.2em solid #0b3c5d; 
    padding: 1.5em;
    text-align: center; 
    font-size: 0.7em;

}
aside{
    width: 25%;
    float: right;
    margin: 2%;
    padding: 1.5%;
    border: #a8d8f0 ridge;
    border-radius: .7em;
    background-image: linear-gradient(135deg, #62117bb9, #2206aaa9);
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: large;
}


nav ul li a {
    float: inline-start;
    border:#a8d8f0  ridge;
    text-decoration: none;
    margin: .2em;
    background-color:  #e6f4fb;
    padding: .3em;
     border-radius: 0.3em;
    color:#0b3c5d;

}

section{
        padding: 1%;
    margin: 2%;
}
.flexb{
display:flex;
   justify-content: space-evenly;
}

@media (max-width: 980px) {
  .flexb{
    flex-direction: column;
  }
}
/*so everything flows beautifully on a small screen. -h */

fieldset{
    padding: 1em;
    padding-right: 2vw;
    margin: 1em;
    flex: auto;
}

legend{
    font-size: large;
}
#formflex{
    flex-wrap: wrap;
}
/*for the form in apply.html. -h*/

table{
  border:0.1em solid white;
  border-radius: .11em;
}


th{
  border:0.1em solid white;
  font-weight: bold;

}
th, td{
    background-color: #abd1eb;
    padding: 0.25em;
    border-radius: 0.11em;
    border: 0.1em solid transparent;


}
th:hover, td:hover{
    color: #0b3c5d;
    background-color: #bed2ffe9;
    border: 0.1em solid white;
}

th:hover{
    background-color:  #e6f4fb;
}

.tab{
    display: flex;
      justify-content: center;
}

nav img{
    padding:.3em ;
    height: 1.85em;
     display: block;
}

label {
font-family: 'Courier New', Courier, monospace;
padding: 0em

}

input[type="text"], textarea, select, input[type="password"]{
border: 2px solid#0b3c5d;
background-color:#a8d8f0;
margin: 0.7em;
}

form {
    display: grid;
    padding: 0.5em;
    margin: 0.1em;

    background-color: #34a1e4;
    border-radius: 0.6em;
}


input[type="submit"],
input[type="reset"], button{
    border:#1e88c8 ridge;
    text-decoration: none;
    margin: .2em;
    background-color: #a1cdff;
    padding: .3em;
     border-radius: 0.3em;
    color:#1F0745;
    font-weight: bold;
}


figure {
    text-align: center;
    margin: 2em auto;
    float: right;
}

figure img {
    width: 20em;  
    border: solid #a8d8f0;
    border-radius: 1em;
    display: block;
    margin: 0 auto;
}

figure figcaption {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #e6f4fb;
}

#id{
    float: right;
}
