/*

filename: styles.css

authors: hana ouaida, zahra ahmad, asma hossain

created: 25-11-25

last modified: 05-12-25

description: refers to index.html, jobs.html, apply.html, about.html

background image taken from https://www.flickr.com/photos/webtreatsetc/4081217254/

*/
html{
    max-width: 100%;
    overflow-x: hidden;
}
/*
that gets rid of the annoying horizontal scrolling. im not sure whats causing it but this fixes it. -h
*/


body {
  background-image: url("images/background.jpg");
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3em;
}

a{
    color: #a8d8f0; 
}

img{
    max-width:100%;
}  

nav{
    background-color:#1e88c8;
    padding: .5em;
    border-radius: 0.3em;
    border-bottom: solid #a8d8f0;
}

h1{
    font: italic 2.2em 'Courier New', Courier, monospace ;
    text-align: center;
    background-color: #a8d8f0;
    color: #0b3c5d;
    padding: 0.5%;
}

article, aside{
    background-color: #1e88c8;
    padding: 2%;
}

footer{
    width: 100%;
    background-color: #0b3c5d; 
    border-top: 0.2em solid #a8d8f0; 
    padding: 1.5em;
    text-align: center; 
    font-size: 0.7em;
    color: #ffffff;
}

aside{
    width: 25%;
    float: right;
    margin: 2%;
    padding: 1.5%;
    border: #a8d8f0 ridge;
    border-radius: .7em;
    background-image: linear-gradient(135deg, #1e88c8, #0b3c5d);
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-size: large;
}

nav ul li a {
    float: inline-start;
    border: #a8d8f0 ridge;
    text-decoration: none;
    margin: .2em;
    background-color: #e6f4fb;
    padding: .3em;
    border-radius: 0.3em;
    color:#0b3c5d;
}

nav ul li a:hover{
    background-color: #a8d8f0;
}

section{
    padding: 1%;
    margin: 2%;
}

.flexb{
    display:flex;
    justify-content: space-evenly;
}

@media (max-width: 980px) {
  .flexb{
    flex-direction: column;
  }
}

fieldset{
    padding: 1em;
    padding-right: 2vw;
    margin: 1em;
    flex: auto;
}