/*

filename: styles.css

author: hana ouaida

created: 25-11-25

last modified: 25-11-25

description: refers to index.html, jobs.html, apply.html, about.html

background image taken from https://tiled-bg.blogspot.com/

*/
body {
  background-image: url("images/background.jpg");
  color: rgb(231, 225, 243);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    color: rgb(167, 55, 79);
}
img{
    max-width:100%;
}

nav{
    background-color: rgb(54, 30, 42);
    padding: .5em;
}

h1{
    font:400 ;
}
article, footer, menu{
    background-color: rgba(245, 245, 245, 0.772);
padding: 2%;
}

nav a{
    color: rgb(185, 175, 249);
}