/*

filename: styles.css

author: hana ouaida

created: 25-11-25

last modified: 25-11-25

description: refers to index.html, jobs.html, apply.html, about.html

background image taken from https://tiled-bg.blogspot.com/

*/
body {
  background-image: url("images/background.jpg");
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: rgb(87, 247, 247);
}
img{
    max-width:100%;
}

nav{
    background-color: rgb(40, 28, 53);
    color: azure;
    padding: .5em;
}

h1{
    
}