/*

filename: styles.css

author: hana ouaida

created: 25-11-25

last modified: 25-11-25

description: refers to index.html, jobs.html, apply.html, about.html

*/

p, h1, h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    max-width:100%;
}

nav{
    background-color: rebeccapurple;
    color: azure;
}

h1{
    font: ;
}