/*

filename: styles.css

author: hana ouaida

created: 25-11-25

last modified: 25-11-25

description: refers to index.html, jobs.html, apply.html, about.html

background image taken from https://tiled-bg.blogspot.com/

*/
body {
  background-image: url("images/background.jpg");
  color: rgb(231, 225, 243);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: rgb(63, 13, 103);
}
img{
    max-width:100%;
}

nav{
    background-color: rgba(76, 147, 182, 0.213);
    padding: .5em;
}

h1{
    font:400 ;
}
article, footer, menu{
    background-color: rgba(31, 7, 69, 0.383);
padding: 2%;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
   color: rgb(185, 175, 249);
}


nav ul li a{
    float: inline-start;
    border: white dotted;
    text-decoration: none;
    margin: .2em;
    background-color: rgba(164, 196, 255, 0.72);
    padding: .3em;
}